@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

*{
    box-sizing: border-box;
    margin:0;
    padding:0 ;
    font-family: "Inter";
}
body{
    display: flex;
    gap: 20px;
    width: 100vw;
    height: 100vh;
}
.imageContainer{
    width: 100%;
    height: fit-content;
    /* aspect-ratio: 1/1; */
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    background-color: #d9d9d9;
    /*text-align: center;*/
    height: fit-content;
}
main{
    padding:30px;
}
footer{
    display: flex;
    text-align: center;
    align-items: center;
}
footer .imageContainer{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
footer .imageContainer img{
    border-radius: 100px;

}
hr{
    margin: 30px 0;
    border: solid 0.01cm black;
}
.title{
    font-weight: bolder;
    margin: 10px 0;
}
p{
    margin: 30px 0;
}
footer .read{
    margin-left: auto;
}

